@import '~src/scss/variable';
.Header {
  box-shadow: 0 2px 4px rgba(black, 0.2);
  height: $layout-header;

  &__Left,
  &__Center,
  &__Right {
    display: flex;
    align-items: center;

    > * + * {
      margin-left: 1rem;
    }
  }
}
