.GroupDetail {
  margin-top: -0.5rem;

  &__Button {
    &:hover {
      text-decoration: none;
    }
  }

  &__Content {
    &__Card {
      box-shadow: 0 0 10px rgba(black, 0.4);

      &--payoff {
        opacity: 0.8;
        transition: opacity 0.5s;
        box-shadow: none;

        &:hover {
          opacity: 1;
        }

        .GroupDetail__Content__Status {
          color: var(--success);

          &:hover {
            background: var(--danger);
            color: white;
          }
        }
      }

      &--pending {
        .GroupDetail__Content__Status {
          color: var(--danger);

          &:hover {
            background: var(--success);
            color: white;
          }
        }
      }
    }

    &__Title {
      flex: 1;
      width: 0;
    }

    &__List {
      padding-bottom: 40px;
    }

    &__Status {
      position: absolute;
      bottom: 8px;
      right: 20px;
      padding: 8px 16px;
      border-radius: 13px;
      border: 3px solid;
      font-weight: 700;
      display: flex;
      align-items: center;

      &__Text {
        opacity: 1;
        transition: opacity 0.3s;
      }

      &__HoverText {
        position: absolute;
        opacity: 0;
        transition-delay: 0.2s;
        transition: opacity 0.3s;
      }

      &:hover {
        box-shadow: 0 0 10px rgba(black, 0.6);

        .GroupDetail__Content__Status__Text {
          opacity: 0;
        }

        .GroupDetail__Content__Status__HoverText {
          opacity: 1;
        }
      }
    }
  }
}
