.Loading {
  animation: loading infinite linear 1.5s both;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
